body {
    font-family: Roboto,arial,sans-serif;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0;
    height: 100%;
  }

body, html {
  height: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
}

a {
  margin: 5px;
  color: black;
  padding: 5px;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

img:hover {
  cursor: pointer;
}

.profile-button {
  background: brown;
  color: white;
  height: 50px;
  width: 50%;
  border-radius: 50%;
  font-size: 10px;
  padding: 10px
}

.profile_image {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  margin: 7px;
}

.profile_image:hover {
  box-shadow: 0 0 10px 0 gray;
  border-radius: 15px;
}

.apps_image:hover {
  box-shadow: 0 0 5px 0 gray;
  border-radius: 15px;
}

.header-links-l {
  display: flex;
  align-items: center;
  margin: 0 5px;
  padding: 0 5px;
}

.header-links-r {
  display: flex;
  align-items: center;
  margin: 0 5px;
  padding: 0 5px;
}

.logo {
  width: 400px;
  height: 175px;
  align-self: center;
  margin-bottom: 20px;
}

ul > img {
  margin: 10px;
}

ul > a {
  margin: 5px;
}

.searcharea {
  display: flex;
  align-self: center;
  margin: 10px 0;
  padding: 0;
  width: 600px;
  height: 40px;
  justify-content: space-between;
  align-items: center;
  border: solid 1px gray;
  border-radius: 20px;
}

.searcharea > img {
  margin: 5px;
  padding: 5px;
}

.searcharea:hover, .searchbox:hover {
  background-color: #f0f0f0;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  flex-grow: 1;
  border: none;
  height: 35px;
  outline: none;
}

button {
  margin: 10px 15px;
  font-size: 14px;
  padding: 10px;
  border: none;
  border-radius: 10px;
}

button:hover {
  box-shadow: 0 0 8px 0 gray;
}

.empty-space {
  flex-grow: 1;
}

.footer-list {
  margin: 5px 0;
  padding: 0 0;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 10px;
}
